<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Edit Recipe</title>
</head>
<body>
    <div class="container row justify-content-center mx-auto mt-2">
        <div class="row">
            <h1 class="my-3 col-6 text-warning">Edit Recipe!</h1>
            <a href="/dashboard" class="offset-2 col-2 my-3">Back To Recipes</a>
            <a href="/logout" class="offset-1 col-1 my-3">Logout</a>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form action="/recipes/edit/process/{{recipe.id}}" method="post" class="card col-5 mx-auto bg-warning p-3">
            <div class="form-group d-flex justify-content-center my-3">
                <div class="form-check-inline">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{recipe.name}}">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" id="description" class="form-control">{{recipe.description}}</textarea>
                    <label for="instructions" class="form-label">Instructions:</label>
                    <textarea name="instructions" id="instructions" class="form-control">{{recipe.instructions}}</textarea>
                </div>
                <div class="form-check-inline">
                    <label for="datemade" class="form-label">Date Made On:</label>
                    <input type="date" name="datemade" id="datemade" class="form-control" value="{{recipe.datemade}}">
                    <p class="form-label">Under 30 Minutes?:</p>
                    <input type="radio" name="under_30" id="under_30" value="Yes" class="form-check-input">
                    <label for="under_30" class="form-label">Yes</label>
                    <input type="radio" name="under_30" id="under_30" value="No" class="form-check-input">
                    <label for="under_30" class="form-label">No</label><br>
                    <input type="submit" value="Update" class="btn btn-dark text-warning text-center">
                </div>
            </div>
        </form>
    </div>
</body>
</html>